#!/usr/bin/env bash

# Idempotent steam.desktop modifier
# Usage: cat ~/.config/autostart/steam.desktop | ./modify_steam.desktop > ~/.config/autostart/steam.desktop.new

sed '/^\[Desktop Entry\]/,/^\[/{ s|^Exec=.*|Exec=/usr/bin/steam -silent %U| }'
