[Desktop Entry]
Name=Steam
Comment=Application for managing and playing games on Steam
Exec=/usr/bin/steam %U
Icon=steam
Type=Application

[Desktop Action Store]
Name=Store
Exec=/usr/bin/steam steam://store

[Desktop Action Community]
Name=Community
Exec=/usr/bin/steam steam://url/CommunityHome/

[Desktop Action Library]
Name=Library
Exec=/usr/bin/steam steam://open/games

[Desktop Action Servers]
Name=Servers
Exec=/usr/bin/steam steam://open/servers

[Desktop Action Screenshots]
Name=Screenshots
Exec=/usr/bin/steam steam://open/screenshots

[Desktop Action News]
Name=News
Exec=/usr/bin/steam steam://openurl/https://store.steampowered.com/news

[Desktop Action Settings]
Name=Settings
Exec=/usr/bin/steam steam://open/settings

[Desktop Action BigPicture]
Name=Big Picture
Exec=/usr/bin/steam steam://open/bigpicture

[Desktop Action Friends]
Name=Friends
Exec=/usr/bin/steam steam://open/friends
